.ipynb_checkpoints/
data/
example/
exampleAnswer/
input/
homework/.ipynb_checkpoints
*.csv
*.pdf
homework/Day_051_Mitderm_Screen_Shot.ipynb
homework/Day_051_Mitderm_Screen_Shot.ipynb
homework/Day_051_Mitderm_Screen_Shot.ipynb
homework/martin_chen_submission.csv
